<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a Retail Off
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyectos Realizados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Proyecto 1: Implementación de sistema de pagos</ion-item>
        <ion-item>Proyecto 2: Desarrollo de app para clientes</ion-item>
        <ion-item>Proyecto 3: Integración de tienda online</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botones de acción -->
  <div class="button-container">
    <ion-button expand="block" color="primary" routerLink="/login">Iniciar Sesión</ion-button>
    <ion-button expand="block" color="secondary" routerLink="/register">Registrarse</ion-button>

    <!-- Enlace al menú -->
    <ion-button expand="block" color="tertiary" routerLink="/menu">Ir al Menú</ion-button>

    <!-- Nuevo botón para ir al perfil de usuario -->
    <ion-button expand="block" color="success" routerLink="/user-profile">Ir al Perfil de Usuario</ion-button>
  </div>
</ion-content>
